:root{
  --background-color: #36393B;
}

body{
  background-color: var(--background-color);
  color:white;
}

.instructions {
  margin-top: 5%;
}

.high-scores{  
  max-width: 35%;
}

#high-scores-box {
  margin-top: 15%;
}

.hide{
  display: none;
}

#timer{
  margin-top: 7%;
  font-size: 30;
  color:red;
}